.footer.mt-auto.py-3.text-center{
    position:fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #740c0c;
    border:solid;
    border-color: black;
}
.link-container {
    display: inline-block;
    margin-right: 20px;
    margin-left:0;
    transition: margin-right 0.3s ease, margin-left 0.3s ease;
}
.link-container:hover {
    margin-right: 30px;
    margin-left: 10px;
}
.link-container:hover ~ .link-container {
    margin-right: 10px;
}
.link-container a {
    color: #FDD700;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}
.link-container:hover a {
    color: white;
    transform: scale(1.1);
}
.button-container-adminview {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 5vw;
    max-width: 1000px;
    margin: 0 auto;
    overflow-x: auto; /* Permitir el desplazamiento horizontal si los botones no caben en una sola fila */

}
.button-adminview {
    flex: 1;
    max-width: 20vw;
    min-width: 200px; /* Ancho mínimo para los botones */
    height: 50vh;
    margin-top: 10vh;
}